body{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(22, 22, 22), rgb(83, 83, 78));
}
*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.Calculator{
    border: 1px solid rgb(29, 28, 34);
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 2px 15px rgb(178, 204, 180);
}
input{
    padding: 20px;
    width: 280px;
    margin: 10px;
    border: none;
    background: transparent;
    box-shadow: 0px 2px 15px rgb(80, 80, 71);
    font-size: 25px;
    text-align: right;
    cursor: pointer;
    color: beige;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: rgb(159, 185, 185);
    font-size: 20px;
    box-shadow:  0px 2px 10px rgb(207, 207, 192);
    cursor: pointer;
}
.equalbtn{
    background-color:orange;
    color: whitesmoke;
}
.operator{
    /* background-color: rgb(63, 211, 211); */
    color: green;
}